[build]
builder = "NIXPACKS"
buildCommand = "npm install"

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/health"
healthcheckTimeout = 100

[[deploy.environmentVariableCollections]]
